body{
    background: rgb(216, 253, 248);
    color: rgb(75, 75, 75);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}
body .home{
    background-image: url(images/background.webp); 
}
body .mission{
    background-image: url(images/background8.jpg);
    background-size: 800px;
}
body .about{
    background-image: url(images/background2.webp);
}
body .help{
    background-image: url(images/background4.png);
    background-position-y: 46.5%;
}
body .connected{
    background-image: url(images/background9.avif);
}
header{
    background-size: 100%;
    background-position: center;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}

header .logo {
    background-image: url("images/logo.png");
    background-color: transparent;
    background-size: 300px;
    background-size: 70%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    /* position: relative; */
    width: 200px;
    /* top: -50px; */
    margin-top: -20px;
    float: left;
    text-align: left;
    text-indent: -999999999999999999px;
    margin-left: -20px;
}
h1 {
    color: white; 
    margin: 0;
    padding: 60px 40px;
    font-size: 70px;
    text-align: center;
    text-shadow: -2px -2px 0 darkgreen, 2px -2px 0 darkgreen, 2px 2px 0 darkgreen,
    2px 2px 0 darkgreen;
}
section{ 
    background: white;
    margin: 2%;
    
}
.feature-box{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.feature-box img{
    border-radius: 10%;
    width: 48%;
    margin: 1%;
}

ul{
    margin: 0;
    padding: 0px;
    list-style-type: none;
}
nav{
    background-color: rgb(216, 253, 248);
    margin: 0;
    padding: 0px;
    text-align: right;
    font-size: 120%;
    padding: 20px;
    height: 70px;
}
li.first-child{
    margin: -100;
}
li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h2 {
    color: rgb(86, 115, 246);
    opacity: 0.9;
    text-align: center;
}
button{
    background-color: rgb(216, 253, 248);
    border: none;
    color: rgb(96, 139, 255);
    border-radius: 7px;
}
footer{
    background: rgb(230, 227, 250);
}
p{
    margin: 10px;
}

img.social-img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    padding: 0;
}

div.social {
    height: 120px;
    margin: auto;
    width: 500px;
}

div.social-logos{
    width: 200px;
    margin-top: 50px;
    height: 300px;
    margin-left: 100px;
}

div.explanation{
    margin-right: 300px;
    margin-top: 30px;
    margin-left: 100px;
}

div.help-description{
    background-color: rgb(224, 251, 223);
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 10%
}